<!DOCTYPE html>
<html lang="en">
  <head>
    <title>your page title goes here</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <main>
      <header>
        <h1>Solo Showdown Tracker</h1>
        <nav>
          <%== yield_content :header_links %>
        </nav>
      </header>
      <section id="messages">
        <% if session[:success] %>
          <div class="flash success">
            <p><%= session.delete(:success) %></p>
          </div>
        <% end %>

        <% if session[:error] %>
          <div class="flash error">
            <p><%= session.delete(:error) %></p>
          </div>
        <% end %>
      </section>      
      <section id="content">
        <%== yield %>
      </section>
    </main>
  </body>
</html>