<h2>Leaderboard</h2>

<table>
  <thead>
    <tr>
      <th>Player Name</th>
      <th>Matches Played</th>
      <th>Number of Wins</th>
      <th>Aversge Placement</th>
      <th>Total Showdown Points</th>
      <th>Eliminations</th>
      <th>Average Eliminations</th>
    </tr>
  </thead>
</table>

<% content_for :header_links do %>
  <a class="header-link" href="/players">Players List</a>
<% end %>