<h2>Players</h2>

<ul>
  <% @players.each do |player| %>
    <li>
      <a href="/players/<%= player[:id] %>"><%= player[:name] %></a>
    </li>
  <% end %>
</ul>

<form action="/player" method="post">
  <label for="player_name">Player name:</label>
  <input name="player_name" placeholder="Name" type="text" value="">
  <input class="button" type="submit" value="Add Player">
</form>

<% content_for :header_links do %>
  <a class="header-link" href="/players/leaderboard">Leaderboard</a>
<% end %>