<h2>Players</h2>

<!--
Iterate through @data to list player names as links to
individual player page
-->

<form action="/player" method="post">
  <label for="player_name">Player name:</label>
  <input name="player_name" placeholder="Name" type="text" value="">
  <fieldset class="actions">
    <input type="submit" value="Add Player">
  </fieldset>
</form>

<% content_for :header_links do %>
  <a class="header-link" href="/players/leaderboard">Leaderboard</a>
<% end %>